body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background: url(./images/space);  
    background-attachment: fixed;

}

h1 {
    border-bottom: solid;
    border-radius: 50%;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8%;
    color: blueviolet;
    text-shadow: white 1px 1px;
}

.gridOptions {
    display: flex;
    justify-content: space-evenly;
   
}

.colorButtons {
    display: flex;
    justify-content: space-evenly;
    margin: none;
    color: blueviolet;
    
       
}

p {
    color: white;
    text-align: center;
    
    font-size: 14px;
    
}

button {
        background-color: rgb(114, 23, 199);
        padding: 12px 30px;
        font-weight: 800;
        border-radius: 12px;
        border: solid thin rgb(241, 238, 6);
        color: white;       
}

#blackBtn {
    background-color: black;
}

#rainbowBtn {
    background:linear-gradient(red,orange,blue,green,yellow,violet);
}

#erase {
    background-color: white;
    color: black;
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: rgba(128, 128, 128, 0.096);
    border: none;
    color: gray;
    transform: scale(1);
}

#colorLabel {
    border-top: solid;
    border-radius: 50%;
    font-family: 'Righteous', cursive;
    text-align: center;
    letter-spacing: 3px;
    color: blueviolet;
    text-shadow: rgba(208, 170, 245, 0.712) 1px 1px;
    font-size: 1.5em;
}

#gridLabel {
    font-family: 'Righteous', cursive;
    text-align: center;
    letter-spacing: 3px;
    color: blueviolet;
    text-shadow: rgba(208, 170, 245, 0.712) 1px 1px;
    font-size: 1.5em;
    
}


#container {
    display: grid;
    border: solid black;
    height: 600px;
    width: 600px;
    margin-top: 24px;
    background-color: white;
}

.gridSquares {
    display: grid;
    border: solid thin black;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.footer {
    color: white;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.5em;
    font-weight: 600;
    border-top: solid blueviolet;
    border-radius: 50%;
    margin-top: 12px;
}



